<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>list</title>
    </head>
    <a th:href="@{/create}">Create user</a>
    <body>
        <table border="1px">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Age</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody th:each="user, iterStat: ${userList}">
                <tr>
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>