<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/template/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/template/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

    </head>
    <body>

        <!--++++++++++header+++++++++-->
        <div th:replace="~{layout/header.html}"></div>
        <!--++++++++++++navbar top++++++++++++++++++-->
        <div class="mt-2 sticky-top container-fluid" style="background: #046056">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand text-light ps-5 click" href="/">Home</a>
                    <a class="navbar-brand text-light click" href="/employee/list">Employee</a>
                    <a class="navbar-brand text-light click" href="/customer/list">Customer</a>
                    <a class="navbar-brand text-light click" href="/service/list">Service</a>
                    <a class="navbar-brand text-light click" href="/contract/list">Contract</a>
                    <form class="d-flex m-0">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

        <!--+++++++++content++++++++-->
        <div class="row">
            <div th:replace="~{layout/sidebar.html}"></div>
            <div class="col-md-10 container-fluid">
                <center>
                    <h1 class="font-text-footer">Create service</h1>
                    <div th:if="${mess !=null}">
                        <h2 class="text-danger" th:text="${mess}"></h2>
                    </div>
                    <br>
                    <div class="container-fluid p-0">
                        <form action="/service/create" method="post" th:object="${service}">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Name</span>
                                <input type="text" class="form-control me-2" placeholder="name service"
                                       th:field="*{name}">

                                <span class="input-group-text">Area</span>
                                <input th:field="*{area}" type="number" class="form-control me-2"
                                       placeholder="Area service">

                                <span class="input-group-text">Cost</span>
                                <input th:field="*{cost}" type="number" class="form-control me-2"
                                       placeholder="Cost service">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">Max People</span>
                                <input th:field="*{maxPeople}" type="number" class="form-control me-2"
                                       placeholder="Max People">

                                <span class="input-group-text">Name Rent Type</span>
                                <select th:field="*{rentTypeId}" class="me-2">
                                    <option value="">Chọn</option>
                                    <div th:each="rentType:${rentTypeList}">
                                        <option th:value="${rentType.id}"
                                                th:text="${rentType.name} + ' giá: ' + ${rentType.cost}"></option>
                                    </div>
                                </select>

                                <span class="input-group-text">Service Type</span>
                                <select th:field="*{serviceTypeId}" class="me-2">
                                    <option value="">Chọn</option>
                                    <div th:each="serviceType: ${serviceTypeList}">
                                        <option th:value="${serviceType.serviceTypeId}"
                                                th:text="${serviceType.serviceTypeName}"></option>
                                    </div>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">Standard Room</span>
                                <select th:field="*{standardRoom}" class="me-2">
                                    <option value="">Chọn</option>
                                    <option value="normal">normal</option>
                                    <option value="vip">vip</option>
                                </select>

                                <span class="input-group-text">Description Other Convenience</span>
                                <input th:field="*{descriptionOtherConvenience}" type="text" class="form-control me-2"
                                       placeholder="Description Other Convenience">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">Pool Area</span>
                                <input th:field="*{poolArea}" type="number" class="form-control me-2"
                                       placeholder="Pool Area">

                                <span class="input-group-text">Number Of Floors</span>
                                <input th:field="*{numberOfFloors}" type="number" class="form-control me-2"
                                       placeholder="Number Of Floors">
                            </div>
                            <br>
                            <div class="input-group mb-5 d-flex align-content-center justify-content-center">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-primary ms-3"><a style="text-decoration: none"
                                                                                      class="text-light"
                                                                                      href="/service/list">Huỷ</a>
                                </button>
                            </div>
                        </form>
                    </div>
                </center>
            </div>
        </div>

        <!--+++++footer+++++++-->
        <div>
            <div th:replace="~{layout/footer.html}"></div>
        </div>

    </body>
    <script src="/template/bootstrap/jquery-3.6.0.min.js"></script>
    <script src="/template/bootstrap/js/bootstrap.js"></script>
    <script src="/template/main.js"></script>
</html>