<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{template/template::header('Product detail')}">
    </head>
    <body>
        <div th:replace="~{template/template::pageloader}"></div>
        <nav th:replace="~{template/template::navbar}"></nav>
        <section th:replace="~{product/layout::sidebar}"></section>

        <section class="content">
            <div class="container-fluid">
                <!-- Vertical Layout -->
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    Product detail
                                </h2>
                            </div>
                            <div class="body table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Describe</th>
                                            <th>Manufacturing Date</th>
                                            <th>Out Of Date</th>
                                            <th>Factory</th>
                                            <th>View</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tr th:object="${product}">
                                        <td th:text="*{id}"></td>
                                        <td th:text="*{name}"></td>
                                        <td th:text="*{price}"></td>
                                        <td th:text="*{description}"></td>
                                        <td th:text="*{#dates.format(startDate, 'dd-MM-yyyy')}"></td>
                                        <td th:text="*{#dates.format(endDate, 'dd-MM-yyyy')}"></td>
                                        <td th:text="*{factory.name}"></td>

                                        <td>
                                            <a th:href="@{/product/view/{id}(id=*{id})}">View</a>
                                        </td>
                                        <td>
                                            <a th:href="@{/product/edit/{id}(id=*{id})}">Edit</a>
                                        </td>
                                        <td>
                                            <a th:href="@{/product/delete/{id}(id=*{id})}">Delete</a>
                                        </td>
                                    </tr>
                                </table>
                                <div th:if="${products.totalPages > 0}" class="pagination"
                                     th:each="pageNumber : ${pageNumbers}">
                                    <a th:href="@{/product/listpaging(size=${products.size}, page=${pageNumber})}"
                                       th:text=${pageNumber}
                                       th:class="${pageNumber==products.number + 1} ? active"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div th:replace="~{template/template::script}"></div>
        <div th:replace="~{template/template::footer}"></div>
    </body>
</html>