<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit Product</title>
    </head>
    <body>
        <center>
            <h1>Edit Customer</h1>
            <form action="/customer/edit" method="post" th:object="${customer}">
                <table border="1">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td><input readonly type="text" th:field="*{id}" th:value="${customer.id}"></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td><input type="text" th:field="*{name}" th:value="${customer.name}"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="text" th:field="*{email}" th:value="${customer.email}"></td>
                        </tr>
                        <tr>
                            <td>Province:</td>
                            <td>
                                <select th:field = "*{province}">
                                    <option value="">select option</option>
                                    <option th:each="provice : ${provinceList}" th:value="${provice.id}" th:text="${provice.name}"
                                            th:selected="${provice.id.equals(customer.province.id)}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td><input type="text" th:field="*{address}" th:value="${customer.address}"></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Edit Customer"/>
            </form>
        </center>
    </body>
</html>