<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/template/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/template/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

    </head>
    <body>

        <!--++++++++++header+++++++++-->
        <div th:replace="~{layout/header.html}"></div>
        <!--++++++++++++navbar top++++++++++++++++++-->
        <div class="mt-2 sticky-top container-fluid" style="background: #046056">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand text-light ps-5 click" href="/">Home</a>
                    <a class="navbar-brand text-light click" href="/employee/list">Employee</a>
                    <a class="navbar-brand text-light click" href="/customer/list">Customer</a>
                    <a class="navbar-brand text-light click" href="/service/list">Service</a>
                    <a class="navbar-brand text-light click" href="/contract/list">Contract</a>
                    <form class="d-flex m-0">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

        <!--+++++++++content++++++++-->
        <div class="row">
            <div th:replace="~{layout/sidebar.html}"></div>
            <div class="col-md-10 container-fluid">
                <center>
                    <h1 class="font-text-footer">Create Customer</h1>
                    <div th:if="${mess !=null}">
                        <h2 class="text-danger" th:text="${mess}"></h2>
                    </div>
                    <br>
                    <div class="container-fluid p-0">
                        <form action="/customer/create" method="post" th:object="${customer}">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Name</span>
                                <input type="text" class="form-control me-2" placeholder="name customer"
                                       th:field="*{name}">
                                <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>


                                <span class="input-group-text">Gender</span>
                                <select th:field="*{gender}" class="me-2">
                                    <option value="">Chọn</option>
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                                <span style="color: red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Name Error</span>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">Birthday</span>
                                <input th:field="*{birthday}" th:value="*{birthday}" type="date"
                                       class="form-control me-2"
                                       placeholder="birthday">
                                <span style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Name Error</span>


                                <span class="input-group-text">Type</span>
                                <select th:field="*{typeId}" class="me-2">
                                    <div th:if="${typeId == null}">
                                        <option value="">Chọn</option>
                                        <div th:each="customerType:${customerTypeList}">
                                            <option th:value="${customerType.typeId}"
                                                    th:text="${customerType.typeName}"></option>
                                        </div>
                                    </div>

                                    <!--                                    <div th:each="customerType: ${customerTypeList}">-->
                                    <!--                                        <div th:if="${customer.typeId != customerType.typeId}">-->
                                    <!--                                            <option value="${customerType.typeId}" th:text="${customerType.typeName}"></option>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                </select>
                                <span style="color: red" th:if="${#fields.hasErrors('typeId')}" th:errors="*{typeId}">Name Error</span>
                            </div>


                            <div class="input-group mb-3">
                                <span class="input-group-text">Id Card</span>
                                <input th:field="*{idCard}" th:value="*{idCard}" type="text" class="form-control me-2"
                                       placeholder="Id Card">

                                <span class="input-group-text">Phone</span>
                                <input th:field="*{phone}" th:value="*{phone}" type="text" class="form-control me-2"
                                       placeholder="phone number">
                            </div>
                            <span style="color: red; left: 5px; float: left" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}">Name Error</span>
                            <span style="color: red;" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Name Error</span>


                            <div class="input-group mb-3">
                                <span class="input-group-text">Email</span>
                                <input th:field="*{email}" th:value="*{email}" type="text" class="form-control me-2"
                                       placeholder="email">
                                <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</span>


                                <span class="input-group-text">Address</span>
                                <input th:field="*{address}" th:value="*{address}" type="text" class="form-control me-2"
                                       placeholder="address">
                                <span style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</span>
                            </div>


                            <br>
                            <div class="input-group mb-5 d-flex align-content-center justify-content-center">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-primary ms-3"><a style="text-decoration: none"
                                                                                      class="text-light"
                                                                                      href="/customer/list">Huỷ</a>
                                </button>
                            </div>
                        </form>
                    </div>
                </center>
            </div>
        </div>

        <!--+++++footer+++++++-->
        <div>
            <div th:replace="~{layout/footer.html}"></div>
        </div>

    </body>
    <script src="/template/bootstrap/jquery-3.6.0.min.js"></script>
    <script src="/template/bootstrap/js/bootstrap.js"></script>
    <script src="/template/main.js"></script>
</html>