<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Create</title>
        <link rel="stylesheet" href="/template/bootstrap/css/bootstrap.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <!--++++++++++++navbar top++++++++++++++++++-->
        <div class="sticky-top" style="background: #046056">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand text-light click" href="/list">List News</a>
                    <a class="navbar-brand text-light click" href="/create">Create News</a>

                    <form class="d-flex m-0">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

        <!--+++++++++content++++++++-->
        <div class="container-fluid">
            <div class="row">
                <div th:replace="~{layout/sidebar.html}"></div>
                <div class="col-md-10">
                    <center>
                        <h1 class="font-text-footer">Create News</h1>
                        <div th:if="${mess !=null}">
                            <h2 class="text-danger" th:text="${mess}"></h2>
                        </div>
                        <br>
                        <div class="container-fluid p-0">
                            <form action="/create" method="post" th:object="${news}">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Tiêu đề</span>
                                    <input type="text" class="form-control me-2" placeholder="Tiêu đề"
                                           th:field="*{title}">
                                    <span style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</span>

                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Danh mục</span>
                                    <select th:field="*{category}" class="me-2">
                                        <option value="">Chọn</option>
                                        <div th:each="category:${categoryList}">
                                            <option th:value="${category.id}"
                                                    th:text="${category.name}"></option>
                                        </div>
                                    </select>
                                    <span style="color: red" th:if="${#fields.hasErrors('category')}"
                                          th:errors="*{category}">Name Error</span>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Nội dung</span>
                                    <input th:field="*{content}" th:value="*{content}" type="text"
                                           class="form-control me-2"
                                           placeholder="Nội dung">
                                    <span style="color: red" th:if="${#fields.hasErrors('content')}"
                                          th:errors="*{content}">Name Error</span>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Ngày Đăng tin</span>
                                    <input th:field="*{startDate}" th:value="*{startDate}" type="date"
                                           class="form-control me-2">
                                    <span style="color: red" th:if="${#fields.hasErrors('startDate')}"
                                          th:errors="*{startDate}">Name Error</span>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Phóng viên</span>
                                    <input th:field="*{reporter}" th:value="*{reporter}" type="text"
                                           class="form-control me-2">
                                    <span style="color: red" th:if="${#fields.hasErrors('reporter')}"
                                          th:errors="*{reporter}">Name Error</span>
                                </div>

                                <br>
                                <div class="input-group mb-5 d-flex align-content-center justify-content-center">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                    <button type="button" class="btn btn-primary ms-3"><a style="text-decoration: none"
                                                                                          class="text-light"
                                                                                          href="/list">Huỷ</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </center>
                </div>
            </div>
        </div>


    </body>
    <script src="/template/bootstrap/jquery-3.6.0.min.js"></script>
    <script src="/template/bootstrap/js/bootstrap.js"></script>
</html>